<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:dist="http://schemas.android.com/apk/distribution"
	package="org.juanro.feedtv">

	<dist:module dist:instant="true" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/TemaClaro">

		<activity
			android:name=".SettingsActivity"
			android:label="@string/title_activity_settings" />

		<activity
			android:name=".AddFeed"
			android:label="Añadir Feed" />

		<activity
			android:name=".MainActivity"
			android:label="FeedTV"
			android:theme="@style/TemaClaro.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

        <activity
            android:name=".ChannelDetail"
            android:label="Detalles del canal" />

		<activity
            android:name=".TvActivity"
            android:label="FeedTV Televisión">
		</activity>

		<activity
			android:name=".Videoview"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:screenOrientation="landscape" />
	</application>
</manifest>
